<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Course Description</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 th:text="${coursename}" style="text-align: center"></h1><br/>

        <div th:if="${isTA}==true">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Upload a CSV file</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1"><br/>
                    <input type="submit" class="btn btn-success" value="Upload"/>
                </div>
            </form>

            <h2 >Add TAs to the course</h2>
            <form class="form-inline" th:action="@{/home/ta/description}" method="post">
                <div class="form-group mx-md-1 mb-2">
                    <input type="hidden" name="courseid" th:value="${courseid}">
                    <input type="text" class="form-control" name="bannerid" placeholder="Enter banner ID">
                </div>
                <input type="submit" class="btn btn-primary mb-2"/>
            </form>

            <p th:text="${statusmessage}"></p>
        </div>
    </div>
</body>
</html>