<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Group Formation</title>
<link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" / >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2 class="font-weight-bold mt-3 mb-3">Group Formation Algorithm</h2>
        <form th:action="@{'/groupformation/create'}" th:method="post">
            <div class="form-group row ml-4 mt-3 mb-0 font-weight-bold">
                <label class="mb-0" style = "font-size: 1.4rem;">Group Size</label>
                <div class="ml-3 col-sm-1">
                    <input type="number" class="form-control" th:name="groupSize" required>
                  </div>
              </div>
            <div class="form-group">
				<label for="quesTitle" class="font-weight-bold"><h3>1) Multiple choice–choose one:</h3></label>
                <div class="form-check ml-4">
                    <input class="form-check-input" type="radio" id="inlineCheckbox1" th:name="mchoice_choose1" th:value="similar" required>
                    <label class="form-check-label">Group by Similar answer</label>
                  </div>
                  <div class="form-check form-check-inline ml-4">
                    <input class="form-check-input" type="radio" id="inlineCheckbox2" th:name="mchoice_choose1" th:value="dissimilar" >
                    <label class="form-check-label">Group by Dissimilar answer</label>
                  </div>
            </div>
            <div class="form-group">
				<label for="quesTitle" class="font-weight-bold"><h3>2) Multiple choice–choose many:</h3></label>
                <div class="form-check ml-4">
                    <input class="form-check-input" type="radio" id="inlineCheckbox1" th:name="mchoice_chooseMany" th:value="similar" required>
                    <label class="form-check-label">Group similar, the more items the same, the more similar</label>
                  </div>
                  <div class="form-check form-check-inline ml-4">
                    <input class="form-check-input" type="radio" id="inlineCheckbox2" th:name="mchoice_chooseMany" th:value="dissimilar" >
                    <label class="form-check-label">Group dissimilar, the less items the same,the more dissimilar</label>
                  </div>
            </div>

            <div class="form-group">
				<label for="quesTitle" class="font-weight-bold"><h3>3) For numeric question answers:</h3></label>
                <div class="form-check ml-4">
                    <input class="form-check-input" type="radio" id="inlineCheckbox1" th:name="numeric" th:value="similar" required>
                    <label class="form-check-label">Group similar</label>
                  </div>
                  <div class="form-check  ml-4">
                    <input class="form-check-input" type="radio" id="inlineCheckbox2" th:name="numeric" th:value="dissimilar" >
                    <label class="form-check-label">Group dissimilar</label>
                  </div>
                  <div class="form-group row ml-4 mt-3 mb-0 font-weight-bold">
                    <label class="mb-0 pt-2">Specify value X if you want to include a member on the basis of value provided</label>
                    <div class="ml-3 col-sm-1">
                        <input type="number" class="form-control" th:name="xValue" >
                      </div>
                  </div>
                  <div class="form-check ml-4">
                    <input class="form-check-input" type="radio"  th:name="studentInclude" th:value="includeStudentWithScoreGreaterThanX">
                    <label class="form-check-label">At least one > X: Include at least one student with a score greater than a value entered above</label>
                  </div>
                  <div class="form-check form-check-inline ml-4">
                    <input class="form-check-input" type="radio" id="inlineCheckbox2" th:name="studentInclude" th:value="includeStudentWithScoreLessThanX">
                    <label class="form-check-label">At least one < X: Include at least one student with a score less than a value entered above</label>
                  </div>

            </div>

            <div class="form-group">
                <label for="quesTitle" class="font-weight-bold"><h3>4) Free text question answers:</h3></label>
                <div class="form-check ml-4">
                    <input class="form-check-input" type="radio"  th:name="freetext" th:value="similar" required>
                    <label class="form-check-label">Group students together with matching text</label>
                  </div>
                  <div class="form-check form-check-inline ml-4">
                    <input class="form-check-input" type="radio"  th:name="freetext" th:value="dissimilar" >
                    <label class="form-check-label">Group students together with text that does not match</label>
                  </div>
            </div>

            <button class="btn btn-secondary" type="Submit">Create Groups</button>


            
        </form>
    </div>

</body>
</html>