<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org/">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<link href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

	<div class="container" th:if="${isStudent}==true">
		<h1 th:if="${isStudent}==true">Courses as Student</h1>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">CourseID</th>
					<th scope="col">Name</th>
					<th scope="col">Role</th>
					<th scope="col">View</th>
				</tr>
			</thead>
			<tbody>
			</tr>
			<th:block th:each="course : ${coursesandroles}">
				<tr th:if="${course.getRole()}=='Student'">
					<td th:text="${course.getCourseid()}"></td>
					<td th:text="${course.getCoursename()}"></td>
					<td th:text="${course.getRole()}"></td>
					<td><a th:href="'/home/description?course='+${course.getCoursename()}+'&role='+${course.getRole()}">
						<button class="btn btn-primary">View Course</button></a></td>
				</tr>
			</th:block>

			</tbody>
		</table>
	</div>


	<div class="container"  th:if="${isTAInstructor}==true">
		<h1 th:if="${isTAInstructor}==true">Courses as TA/Instructor</h1>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">CourseID</th>
					<th scope="col">Name</th>
					<th scope="col">Role</th>
					<th scope="col">View</th>
				</tr>
			</thead>
			<tbody>
			</tr>
			<th:block th:each="course : ${coursesandroles}">
				<tr th:if="${course.getRole()}=='TA' OR ${course.getRole()=='Instructor'}" >
					<td th:text="${course.getCourseid()}"></td>
					<td th:text="${course.getCoursename()}"></td>
					<td th:text="${course.getRole()}"></td>
					<td><a th:href="'/home/description?course='+${course.getCoursename()}+'&role='+${course.getRole()}">
						<button class="btn btn-primary">View Course</button></a></td>
				</tr>
			</th:block>

			</tbody>
		</table>
	</div>

</body>
</html>